:root {
    
}
body {
    margin: 0px;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px 10px;
}
.item {
    padding: 50px;
    background-color: blue;
}
.item5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 200px;
}
