.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 10px;
}
.item {
    padding: 20px;
    background-color: blue;
    border-radius: 8px;
    color: white;
}
.item7 {
    background-color: red;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
}
